asyncpg
fastapi[all]
scalar-fastapi
sqlalchemy
sqlmodel
passlib[argon2]
python-jose[cryptography]
argon2-cffi
langchain
langchain-community
langchain-google-genai
langchain-chroma
chromadb
pypdf
python-multipart
langchain_text_splitters
autogen_ext
autogen-ext[mcp]
fastapi[standard]
pydantic
autogen-agentchat>=0.7
autogen-ext[gemini]>=0.7
autogen-agentchat
autogen-agentchat[gemini]
python-dotenv
autogen-core
openai
tiktoken
sentence-transformers
langchain-huggingface
sentence-transformers